<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nus.mapper.OrderMapper">
    <select id="getUserOrder" resultType="Order">
        select * from orders
    </select>

    <select id="getOrdersByUsername" resultType="Order">
        select * from orders
        <where>
            user_name = #{userName}
        </where>
    </select>

    <insert id="placeOrder">
        insert into orders
        (id,address,address_book_id,amount,checkout_time,consignee,delivery_time,number,order_time,phone,remark,status,user_id,user_name)
        values
        (#{id},#{address},#{addressId},#{addressId},#{amount},#{checkoutTime},#{consignee},#{deliveryTime},#{number},#{orderTime},#{phone},#{remark},#{status},#{userId},#{username})
    </insert>
</mapper>
